@font-face {
    font-family: AveriaLibre-Regular;
    src: url(/Fonts/AveriaLibre-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #372775;
}

nav a {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem;
}

nav a:hover {
    color: #666;
}

header {
    padding: 1rem;
}

header h1 {
    font-size: 2.4rem;
    font-weight: 400;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 320px; /* Adjust the max-width as needed for your logo */
}

.sair-container {
    display: flex;
    align-items: center;
}
.sair {
    padding: 0;
    border: none;
    background: none;
    font-size: 1.3rem;
    color: #3f92c5;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
}

.sair-container button.apagar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent !important; /* Set background to transparent */
    padding: 0;
    border: none; /* Remove border */
    color: #f57f7f;
    margin: 0;
    margin-right: 20px;
    padding-top: 20px;
}

.svg-collor {
    fill: #f57f7f;
}

.sair-container button.apagar i {
    font-size: 24px; /* Adjust the size as needed */
}

h1 {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
}

.container {
    display: flex; /* Mova esta regra para o .container */
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

main {
    display: flex;
    width: 100%;
}

section:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

section:last-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    padding-left: 60px;
}

img {
    max-width: 100%;
    height: auto;
}

/* The CSS code `.checkboxes` is targeting an element with the class name "checkboxes". It is setting
the display property to flex, which allows the element to be displayed as a flex container. The
flex-direction property is set to column, which means that the flex items inside the container will
be stacked vertically. This creates a column layout for the checkboxes. */
.checkboxes {
    display: flex;
    flex-direction: column;
}

/* The `.checkbox-item` CSS class is defining the styles for a checkbox item. */
.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Reduzi o espaçamento vertical entre os itens */
}

.checkbox-square {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Aumentei o espaçamento horizontal entre o quadrado e o rótulo */
    border: 1px solid #000;
    background-color: transparent;
}

#excelente .checkbox-square {
    background-color: #f1ce7e;
}

#bom .checkbox-square {
    background-color: #6994fe;
}

#neutro .checkbox-square {
    background-color: #5fcda4;
}

#ruim .checkbox-square {
    background-color: #ea7288;
}

#pessimo .checkbox-square {
    background-color: #53d8d8;
}

label {
    font-size: 1.5rem;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #737373;
    padding: 1rem;
    margin: 1rem;
    margin-left: 6rem;
    margin-right: 6rem;
    width: 100%;
    border-radius: 10px; /* Added rounded corners for form */
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

form div label {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #fff;
}

form div input {
    padding: 0.5rem;
    border: 1px solid #333;

    font-size: 1rem;
    background-color: #fff;
    color: #333;
}

/* Remove placeholder color styling */
input::placeholder {
    color: #3f92c5;
}

#nome {
    color: #3f92c5;
}

input::placeholder {
    color: #3f92c5;
}

/* Change the color of the placeholder text */
#data::placeholder {
    color: #3f92c5;
}

/* Change the color of the text inside the input field */
#data {
    color: #3f92c5;
}

/* Styles for the "Escolher arquivo" button */

div button {
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    width: 30%;
    height: 5rem;
}

form div span {
    font-size: 0.75rem;
    color: #fd7979;
}

.container form h1 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1rem;
}

form div input:focus {
    outline: none;
    border-color: #2b1d62;
}

form div button.submit {
    padding: 0.5rem;
    height: 2.07em;
    width: 4.58em;
    border: solid 1px #37bd6d;
    border-radius: px;
    background-color: #37bd6d;
    color: #fff;
    cursor: pointer;
    font-size: 1.3em;
    margin-left: auto;
    margin-top: 1rem; /* Added spacing from the top */
}

form div button.submit:hover {
    background-color: #2b1d62;
}

.file-select {
    display: flex;
    flex-direction: row; /* Change the direction to row */
    justify-content: space-between; /* Add space between .file and .btn */
    align-items: stretch;
}

.arquivo {
    display: none;
}
.file {
    line-height: 30px;

    border: 1px solid #a7a7a7;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    vertical-align: middle;
    width: 300px;
}
.btn {
    border: none;
    box-sizing: border-box;
    padding: 2px 10px;
    background-color: #a4a4a4;
    color: #fff;
    height: 32px;
    width: auto;
    font-size: 15px;
    vertical-align: middle;
}

.file,
.btn {
    max-width: none;
}

.btn {
    width: 30%;
    height: 3rem; /* Adjust the height as needed */
}

.file {
    width: 69%;
}

/* popup */
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b1f5c;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#popup p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 20px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Adicionado para centralizar verticalmente */
}

#sim-button,
#cancelar-button {
    color: #fff;
    padding: 10px 30px;
    margin: 5px; /* Espaço entre os botões */
    cursor: pointer;
    border: none; /* Remova a borda para evitar discrepâncias de tamanho */
    outline: none; /* Remova o contorno ao clicar */
    flex: 1; /* Para que ambos os botões tenham o mesmo tamanho */
}

#sim-button {
    background-color: #ff8383;
}

#cancelar-button {
    background-color: #3f92c5;
}

/* The `@media (max-width: 768px)` rule is a media query that targets devices with a maximum width of
768 pixels. */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    form {
        width: 80%;
        margin: 1rem auto;
    }

    /* The CSS rule `section:first-child` is targeting the first child `section` element within the
    `main` element. It is setting the `align-items` property to `center`, which horizontally centers
    the content within the first child `section` element. */
    section:first-child {
        align-items: center;
    }

    section:last-child {
        align-items: center;
    }
}
